<div class="background"></div>

<div class="container">
  <div class="row">
    <div class="col-10 col-md-8 col-lg-5 box">
      <span></span>
      <div class="content">
        <h2>Login</h2>
        <form [formGroup]="loginForm">
          <mat-form-field class="p-2 input" >
            <input type="text"
                   matInput
                   autocomplete="off"
                   placeholder="Nome"
                   formControlName="userName"
                   value=""
                   required>
            <mat-error>nome obrigatório.</mat-error>
          </mat-form-field>
          <mat-form-field class="p-2 input">
            <input type="password"
                   matInput
                   autocomplete="off"
                   placeholder="Senha"
                   formControlName="userName"
                   value=""
                   required>
            <mat-error>nome obrigatório.</mat-error>
          </mat-form-field>
          <div class="bnt">
          <button mat-raised-button> Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
