<div class="menu">
  <div class="toggle " (click)="activeToggle()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <ul>
    <li routerLink="" (click)="activeToggle()"><a >Home</a></li>
    <li routerLink="camisetas" (click)="activeToggle()"><a>Camisetas</a></li>
    <li routerLink="" (click)="activeToggle()"><a>Moletons</a></li>
    <li routerLink="" (click)="activeToggle()"><a>Carrinho</a></li>
    <li routerLink="login" (click)="activeToggle()"><a>Conta</a></li>
  </ul>
</div>
