@import "src/styles";

.container{
  max-width: 90vw;
  position: relative;
  top: 60px;
  .row{
    .product{
      }
  }
}
.background{
  position: fixed;
  z-index: -50;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: $light;
}
